/**
 * This file is for any css that you may want for this visualizer.
 *
 * Ideally, you would use the scss file also provided in this directory 
 * and then generate this file automatically from that. However, you can 
 * simply write css if you prefer
 */

.code-editor {
  outline: none; }

.CodeMirror {
    height: 100%;
}

.CodeMirror-scrollbar-filler {
    display: none;
}

#codeEditorHandle {
    width: 0.5%;
}

#codeEditorLeft, #codeEditorRight {
    float:left;
    height:100%;
    width:49.75%;
}

